@(teams: List[Team])

@main("Encounters!") {
    <div class="container">
        <div class="row">
            <div class="span8">
                <h1>UCSB IEEExtreme Leaderboard</h1>
            </div>
            <div class="span4">
                <h2>:)</h2>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Solved</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(team <- teams) {
                        <tr>
                            <td><h2>@team.rank</h2></td>
                            <td><h1>@team.name</h1></td>
                            <td>
                                <ul>
                                @for(s <- team.complete) {
                                    <li><h3>@s</h3></li>
                                }
                                </ul>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

